/*
    this css is compiled from main.sass
*/
/*
variable
*/
/*
mixins
*/
body {
  background-color: #F5f5f5;
  font-family: "Lato", sans-serif; }

figure {
  margin: 2px; }

h1, h2, h3, h4, h5, .title, .name {
  font-family: 'Lato', sans-serif; }

p {
  font-family: 'Merriweather', serif;
  font-size: 13.84615px; }

.static-page {
  background-color: #fff;
  padding: 24px; }

.name {
  font-style: italic; }

.clear {
  clear: left; }

/*
bootstrap
*/
.btn-primary {
  background-color: #fff;
  color: #357ebd; }

.btn-danger {
  color: #d9534f;
  border-color: #d43f3a;
  background-color: #fff; }

.btn-green {
  border-color: #06ad06;
  color: #06ad06; }
  .btn-green:hover {
    background-color: #06ad06;
    color: #fff; }

.btn-red {
  border-color: #df1818;
  color: #df1818; }

/*
home
*/
/*
sidebar
*/
.red {
  background: red; }

.fix-search {
  position: fixed;
  top: 0;
  right: 33%;
  z-index: 10; }

.ww-tab-container .ww-tab-panel {
  display: none;
  min-height: 320px; }
.ww-tab-container .active {
  display: block; }
.ww-tab-container .home-search {
  width: 60%;
  margin: 48px auto 24px auto; }

#home .container-center, #home #homepage {
  min-height: 0 !important; }
#home .homepage .container {
  padding-top: 12px;
  padding-bottom: 24px; }
#home .social {
  padding-top: 12px;
  box-sizing: content-box; }
  #home .social p {
    font-family: "Lato", sans-serif !important; }
  #home .social a {
    font-size: 2em; }
#home .home-banner {
  background: url("../assets/images/home-banner.jpg") no-repeat;
  background-size: cover;
  min-height: 728px;
  box-sizing: content-box; }
  #home .home-banner .fix {
    position: fixed;
    width: 100%;
    z-index: 10; }
  #home .home-banner .fix-bg {
    background-color: #1990b9 !important; }
  #home .home-banner .intro {
    padding-top: 200px;
    color: white;
    width: 70%; }
    #home .home-banner .intro h1 {
      font-weight: 300;
      text-shadow: 1px 1px 3px #000;
      margin-top: 56px; }
    #home .home-banner .intro p {
      text-shadow: 1px 1px 3px #000; }
  #home .home-banner .navbar-nav a {
    background: #428bca;
    /* The Fallback */
    background: rgba(66, 139, 202, 0.9);
    color: #fff; }
    #home .home-banner .navbar-nav a:hover {
      color: #a6a6a6; }
  #home .home-banner .ww-tabs {
    border: none;
    max-width: 63%;
    margin: 0 auto;
    margin-top: 120px;
    padding: 0; }
    #home .home-banner .ww-tabs li {
      display: inline;
      max-width: 25%;
      width: 100%;
      text-align: center;
      float: left; }
      #home .home-banner .ww-tabs li .help-block {
        color: #fafafa;
        font-family: "Lato", sans-serif;
        font-size: .245em;
        font-weight: 700; }
      #home .home-banner .ww-tabs li a {
        background: transparent;
        border: none;
        font-size: 4em;
        color: #fafafa;
        text-decoration: none; }
        #home .home-banner .ww-tabs li a:hover span {
          background: transparent;
          border: none;
          color: #d9d9d9; }
      #home .home-banner .ww-tabs li.active a {
        background: transparent;
        border: none; }
        #home .home-banner .ww-tabs li.active a span {
          color: #5a5a5a; }
        #home .home-banner .ww-tabs li.active a:hover {
          background: transparent;
          border: none;
          color: #5a5a5a; }
          #home .home-banner .ww-tabs li.active a:hover span {
            color: #5a5a5a; }
  #home .home-banner h1, #home .home-banner p {
    color: white; }
  #home .home-banner p {
    font-size: 16px;
    font-family: 'Georgia';
    -webkit-font-smoothing: antialiased; }
  #home .home-banner .home-search {
    max-width: 34%;
    margin: 0 auto;
    margin-top: 60px; }
    @media (max-width: 768px) {
      #home .home-banner .home-search {
        max-width: 70%; } }
    #home .home-banner .home-search.fix-search {
      display: none; }
    #home .home-banner .home-search a {
      color: white; }
      #home .home-banner .home-search a:hover {
        text-decoration: none; }
#home .price {
  font-size: 1.7em;
  color: #7fcb2c;
  line-height: 1.7em; }
#home .item {
  min-height: 280px; }
  #home .item img {
    width: 100%;
    height: auto;
    max-height: 200px; }
  #home .item .thumbnail .img-slot {
    min-height: 200px;
    display: block; }
    @media (max-width: 480px) {
      #home .item .thumbnail .img-slot {
        min-height: 112px !important; } }
  #home .item .caption .title {
    text-transform: capitalize; }

/*
profile
*/
#homepage {
  margin-top: 24px;
  margin-bottom: 24px; }
  #homepage #avatar {
    margin: 12px auto;
    clear: both;
    height: 150px;
    border: 3px solid #777;
    text-align: center;
    line-height: 143px;
    overflow: hidden;
    background: black;
    margin-bottom: 0; }
  #homepage #upload_avatar {
    background: #f0f0f0;
    padding: 3px;
    width: 100%;
    display: block;
    text-align: center; }
  #homepage .logout {
    border-top: 1px solid #ccc; }

/*
dashboard
*/
.bg-success .container {
  padding-left: 0; }

#inner_dashboard_tab {
  float: left;
  max-width: 763px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  vertical-align: middle; }

.tab_inner_active {
  float: left; }

.tab_inner {
  float: left; }

.filter-btn {
  margin: 0 0 12px 15px; }

/*
item list
*/
.row.item-list {
  padding-top: 24px; }

.img-thumb-bg {
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 200px; }

/*
sidebar
*/
.menu-btn {
  display: none;
  color: #fff;
  padding: 12px;
  text-align: center; }

@media (max-width: 767px) {
  .black-nav, .desktop-sidebar {
    display: none; }

  .menu-btn {
    display: block; } }
.go-mobile {
  display: block !important;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 25;
  max-width: 220px;
  width: 100%; }

.dimmer {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 22 !important;
  background-color: rgba(0, 0, 0, 0.55); }

.container-center {
  min-height: 500px;
  background-color: #f5f5f5; }

.dropdown-menu {
  left: 12px;
  min-width: 107px; }

#top {
  padding: 8px 0;
  background: #fa6938; }
  @media (max-width: 480px) {
    #top {
      padding: 8px 12px; } }
  #top .container p {
    margin: 0;
    color: #FFF;
    margin-right: 12px;
    font-family: 'Georgia';
    -webkit-font-smoothing: antialiased;
    font-size: 16px; }
  #top .container a {
    background: rgba(0, 0, 0, 0.2);
    padding: 3px 6px;
    border-radius: 4px;
    color: white;
    text-decoration: none; }
    #top .container a:hover {
      background: rgba(0, 0, 0, 0.4); }

header.navbar-default {
  background-color: #1990b9; }
  header.navbar-default .navbar-nav {
    margin-top: 15px; }
    header.navbar-default .navbar-nav > li {
      float: right; }
      header.navbar-default .navbar-nav > li > a {
        background-color: #157b9e;
        color: #ccc;
        margin-left: 12px; }
        header.navbar-default .navbar-nav > li > a:hover {
          color: #a6a6a6; }
header .col-sm-6 {
  padding-bottom: 14px; }
header .container, header .navbar-brand {
  padding-left: 0;
  padding-right: 0;
  height: auto; }
header .myaccount-btn {
  clear: left;
  padding: 12px;
  background: #333;
  color: #fff;
  text-align: center;
  border-bottom: 1px solid #4F4F4F; }
header .myaccount-menu {
  display: none;
  background: #333; }
  header .myaccount-menu ul {
    margin: 0;
    padding: 0; }
    header .myaccount-menu ul li {
      list-style: none;
      padding: 12px;
      padding-left: 33px; }
      header .myaccount-menu ul li a {
        color: white;
        font-size: 1em; }
      header .myaccount-menu ul li.logout {
        border-top: 1px solid #4f4f4f; }
      header .myaccount-menu ul li:nth-child(even) {
        background: #2C2C2C; }

footer {
  padding: 15px;
  background: #ddd; }
  footer .container > p {
    text-align: center; }
  footer .copy > div, footer .container {
    padding: 0; }
  footer .footer-link ul li {
    display: inline;
    list-style: none;
    margin-left: 12px; }

.pagination {
  padding: 20px; }

.item_list_watches .price {
  font-size: 1.1em;
  color: #7fcb2c;
  line-height: 1.9em; }
.item_list_watches .item {
  min-height: 125px; }
  .item_list_watches .item img {
    width: 100%;
    height: auto;
    max-height: 200px; }
  .item_list_watches .item .thumbnail .img-slot {
    min-height: 200px;
    display: block; }
    @media (max-width: 480px) {
      .item_list_watches .item .thumbnail .img-slot {
        min-height: 112px !important; } }
  .item_list_watches .item .caption .title {
    text-transform: capitalize; }

.img-thumbs-container {
  width: 100px; }

.sidebar {
  background: #fff;
  padding: 12px 15px; }
  .sidebar .active {
    background: #e3e3e3; }

.nav.navbar-nav {
  margin: 0 auto;
  float: none;
  width: 100%; }
  header .nav.navbar-nav {
    max-width: 201px; }
    @media (max-width: 480px) {
      header .nav.navbar-nav {
        float: none !important;
        margin-bottom: 12px; } }
  .home-banner .nav.navbar-nav {
    max-width: 280px; }
  nav .nav.navbar-nav {
    max-width: 538px; }

.logo {
  padding-top: 14px; }
  @media (max-width: 561px) {
    .logo {
      text-align: center; } }

.topnav li {
  max-width: 138px;
  width: 100%;
  float: left; }
  @media (max-width: 480px) {
    .topnav li {
      max-width: 100%; } }
@media (max-width: 561px) {
  .topnav {
    float: none !important; } }

@media (max-width: 768px) {
  .mobile-center {
    display: block;
    margin: 0 auto;
    float: none;
    width: 50%; } }
@media (max-width: 768px) {
  .mobile-center.top {
    width: 58%; } }

.hdr img {
  width: 100%; }
