/*
dashboard
*/
.bg-success{
    .container{
        padding-left:0;
    }
}
.action{
    padding-top:12px;
}
#inner_dashboard_tab{
float:left; max-width:763px; width:100%; height:40px; line-height:40px; vertical-align:middle; 

}
h2.h2_title{
    margin: 12px;
    border-bottom: 1px solid #ccc;
}

#filter_container{
    padding:12px 15px;
}
.tab_inner_active{
float:left;
}
.tab_inner{
float:left;
}

.filter-btn{
    width: 100%;
    margin-bottom:24px;
}
.main{
    min-height:700px;
    .title_bar{
        font-size:2em;
        margin-bottom: 12px;
    }
    .settings-wrapper{
        border: 1px solid #ccc;
        padding: 12px;
        margin-bottom:24px;
        background:white;
        td{
            padding: 12px 12px 12px 0; 
        }
        .global-price-list-adjustment{
            margin:12px 0;
        }
        .last-update td{
            padding:12px 0;
            
        }
        .box_title{
            font-size: 1.3em;
            margin-bottom: 12px;
        }
        .table{
            td{
                padding-left:12px;
            }
        }
        
        
    }
    #single_content{
        .watchlist-container{
            background:#f3f3f3;
            border:1px solid #fff;
            > div{
                background: white;
                padding:12px;
                border:1px solid #f3f3f3;
                .watchlist-img-container{
                    width: 100%;
                    height:180px;
                }
            }
        }
    }
}


.table_add{
    
    td{
        padding-bottom:12px;
        select, input{
            max-width:320px;
            width:100%;
        }
    }
    
    
}

.sell{
    .action{
        padding:12px;
        .btn{
            width:100%;
            margin-bottom:3px;
        }
    }
    .details{
        label{
            font-weight: bold;
        }
        img{
           max-width:100px; 
           width:100%;
        }
    }
}
.tablediv-ui{
    border-bottom: 1px solid #ccc;
    padding:12px 0;
    div{
        display: inline-block;
        padding:0 12px;
        
        &.tb3{
          font-weight: bold;  
        }
        &.tb2{
            font-style: italic;
        }
    }
}
.btn-group{
    .btn{
        font-size:.7em;
    }
}

.checkout-total, .quick-box{
    padding:24px;
}

.user-loop{
    padding:12px 0;
    border-bottom:1px solid #ccc;
}

.msg-img{
    img{
        max-width:40px;
    }
}

.ratings{
    p{
        display:inline-block;
        margin-right: 12px;
    }
}
