/*
    forum style
*/

/*        friends*/
        .friend-img{
            
            
                img{
                    max-width:80px;
                    max-height: 80px;
                    width:100%;
                }
                
                .friend-q-profile &{
                    padding:12px;
                    
                }
            }
        
        .user-link{
            padding-left:12px;
            padding: 12px 24px;
            display: block;
        }