/*
home
*/
@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}
$cont-color: #fff;

@import "tabs";
#home{
    .container-center,#homepage{
        min-height: 0 !important;
    }
    .homepage{
        .container{
            padding-top:12px;
            padding-bottom:24px;
        }
    }
    .social{
        padding-top:12px;
        box-sizing: content-box;
        p{
            font-family:$base-font !important;
        }
        a{
            font-size:2em;
        }
    }
    .home-banner{
        background: url('../assets/images/home-banner.jpg') no-repeat;
        background-size:cover;
        min-height: 728px;
        box-sizing:content-box;
        .fix{
            position:fixed;
            width:100%;
            z-index:10;
        }
        .fix-bg{
            background-color:lighten($base-color,6%) !important;
        }
        .intro{
            padding-top:200px;
            color:$cont-color;
            width:70%;
            @media (max-width:480px){
                padding-top:33px;
            }
            h1{
                font-weight:300;
                text-shadow: 1px 1px 3px #000;
                margin-top: 56px;
            }
            p{
                text-shadow: 1px 1px 3px #000;
            }
        }
        .navbar-nav a {
         @include background-opacity(#428bca, 0.9); 
         color:#fff;
         &:hover{color:#a6a6a6;}
        }
        .ww-tabs{
            border:none;
            max-width:63%;
            margin:0 auto;
            margin-top:120px;
            padding:0;
            @media (max-width:480px){
                max-width:90%;
            }
            li{
               display:inline;
               max-width: 25%;
               width:100%;
               text-align: center;
               float:left;
               .help-block{
                    color:darken($cont-color,2%);
                    font-family:$base-font;
                    font-size: .245em;
                    font-weight: 700;
                }
               a{
                    background:transparent;
                    border:none;
                    font-size:4em;
                    color:darken($cont-color,2%);
                    text-decoration:none;
                    &:hover span{
                       background:transparent;
                       border:none;
                       color:lighten(grayscale($base-color),50%);
                    }
                }
                &.active 
                    {
                     a{
                        background:transparent;
                        border:none;
                        span{
                            color:grayscale($base-color);;
                        }
                        &:hover{
                           background:transparent;
                           border:none;
                           color:grayscale($base-color);
                           span{
                               color:grayscale($base-color);
                           }
                        }   
                    }
                    }
            }
        }
        h1, p{
            color:$cont-color;
        }
        p{
            font-size:16px;
            font-family: 'Georgia';
            -webkit-font-smoothing: antialiased;
        }
        .home-search{
            max-width:34%;
            margin:0 auto;
            margin-top:60px;
            @media (max-width:768px){
                max-width:70%;
            }
            &.fix-search{
                
                    display:none;
                
            }
            a{
                 color:$cont-color;
                 &:hover{
                     text-decoration: none;
                 }
            }
        }
    }
    @include price(1.7em,1.7em);
    @include thumb();
}
