/*
item list
*/

.row.item-list{
    padding-top:24px;
}
.img-thumb-bg{
    background-repeat: no-repeat;
    background-position: center center;
    width:100%;
    height:200px;
    
}
.thumbnail {
    
        .watch-btn{
            float:none !important;
            .add_wishlist {
                span{
                    @media(max-width:480px){
                        display:none;
                    }
                }
                &.add-watch{
                    width:100%;
                    &:after{
                        @media(max-width:480px){
                            content: "+ watchlist";
                        }
                    }
                }
                &.in-watch{
                    width:100%;
                    &:after{
                        @media(max-width:480px){
                            content: "- watchlist";
                        }
                    }
                }
            }
            .btn{
                width:100%;
            }
        }
    
}
.item-single-section1{
    .breadcrumb{
        background-color: #fff;
    }
    #brief_container{
        padding:12px;
        background: #fff;
        #brief_info{
            color: #4E4E4E;
            line-height: 20px;
            font-family: Arial,Helvetica,sans-serif;
            background: #f5f5f5;
            border: 12px solid rgba(0, 0, 0, 0.001);
            font-size: 18px;
            overflow: hidden;
            }
    }
}
.details_container{
    .tab-pane > div{
        background:#fff;
    }
    .desc5{
        img{
            width:100%;
        }
    }
}
.single-item-wrapper{
    margin-top:36px;
}
.profile-photo{
        
        
        .seller_avatar &{
            width: 80px;
            height:80px;
            background-size:cover;
        }
        .dashboard_avatar &{
            width: 100%;
            height:169px;
            background-size:cover;
        }
}

.a_class.img-slot{
    .img-slot{
        border:1px solid #ccc;
    }
}

#cross-sell .view-all{
    text-align: center;
    padding:12px;
}

.sort-left-mobile{
    @media (max-width:767px){
        text-align:left;
        padding-top:12px;
    }
}