/*
profile
*/

#homepage{
    margin-top:24px;
    margin-bottom:24px;
    #avatar{
    margin: 12px auto;
    clear: both;
    height: 150px;
    border: 3px solid #777;
    text-align: center;
    line-height: 143px;
    overflow: hidden;
    background: black;
    margin-bottom:0;
    }
    #upload_avatar{
        background: #f0f0f0;
        padding: 3px;
        width: 100%;
        display: block;
        text-align: center;
    }
    .logout{
        border-top: 1px solid #ccc;
    }
    .title_thread{
        margin:12px 0;
    }
}

