/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 6, 14, 3:48:33 PM
    Author     : macbook
*/

.menu-btn{
        display:none;
        color:#fff;
        padding:12px;
        text-align: center;
    }
    
    @media (max-width:767px){
        .black-nav, .desktop-sidebar{
            display:none;
        }
        .menu-btn{
            display:block;
        }
    }
    

.go-mobile{
    display:block !important;
    position:absolute;
    z-index:25;
    max-width:220px;
    width:100%;
}
.dimmer{
    height:100%;
    width:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:22 !important;
    background-color:rgba(0, 0, 0, 0.55);
}