/*
sidebar
*/

.menu-btn{
        display:none;
        color:#fff;
        padding:12px;
        text-align: center;
    }
    
    @media (max-width:767px){
        .black-nav, .desktop-sidebar{
            display:none;
        }
        .menu-btn{
            display:block;
        }
    }

.go-mobile{
    display:block !important;
    position: fixed;
    top: 0;
    height: 100%;
    z-index:25;
    max-width:220px;
    width:100%;
}
.dimmer{
    height:100%;
    width:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:22 !important;
    background-color:rgba(0, 0, 0, 0.55);
}