/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 14, 14, 6:26:25 PM
    Author     : macbook
*/
.red{background:red;}
.fix-search{position: fixed;top: 0;right: 33%;z-index:10;}
.ww-tab-container{
    .ww-tab-panel{
        display:none;
        min-height:320px;
        .btn{
            margin-top:24px;
        }
        .container.text-center{
            margin-bottom:12px;
        }
    }
    .active{
        display:block;
    }
}