/*
sidebar
*/
.red{background:red;}
.fix-search{position: fixed;top: 0;right: 33%;z-index:10;}
.ww-tab-container{
    .ww-tab-panel{
        display:none;
        min-height:320px;
    }
    .active{
        display:block;
    }
    .home-search{
        width: 60%;
        margin:48px auto 24px auto;
    }
    
}