/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 15, 14, 6:29:12 PM
    Author     : macbook
*/
$heading-size:36px;
$p-font-size: $heading-size / 2.6;
$base-color:#157b9e;
$base-font: 'Lato', sans-serif;
$sub-font: 'Merriweather', serif; 
