/*
    this css is compiled from main.sass
*/
@import 'variables';
@import 'mixins';

body{
    background-color:#F5f5f5;
    font-family: $base-font;
}

figure{
    margin:2px;
}
h1,h2,h3,h4,h5, .title, .name{
    font-family: 'Lato', sans-serif;
}
p{
  font-family: 'Merriweather', serif;  
  font-size: $p-font-size;
}
.static-page{
    background-color:#fff;
    padding:24px;
}
.name{
    font-style: italic;
}
.clear{
    clear:left;
}
// preprocessor from this point down
//home
@import "bootstrap";
@import 'home';
@import 'profile';
@import 'dashboard';
@import 'itemlist';
@import 'sidebar';
.container-center{min-height:500px;background-color:#f5f5f5;}
.dropdown-menu{left: 12px;min-width: 107px;}

//top
#top{
        padding: 8px 0;
        background: #fa6938;
        @media (max-width:480px){
            padding: 8px 12px;
        }
    .container{   
        p{
            margin:0;
            color: #FFF;
            margin-right:12px;
            font-family: 'Georgia';
            -webkit-font-smoothing: antialiased; 
            font-size: 16px;
        }
        a{
                background: rgba(0,0,0,0.2);
                padding: 3px 6px;
                border-radius: 4px;
                color: white;
                text-decoration: none;
                &:hover{
                    background: rgba(0,0,0,0.4);
                }
        }
    }
}

// header
header{
    &.navbar-default{
        background-color:lighten($base-color,6%);
        .navbar-nav{
            margin-top:15px;
            &> li { 
                float:right;
                &> a{
                background-color:$base-color;
                color:#ccc;
                margin-left:12px;
                &:hover{color:grayscale(lighten($base-color,30%));}
                }
            }
        }
    }
    .col-sm-6{padding-bottom:14px;}
    .container, .navbar-brand{
        padding-left:0;padding-right:0;height:auto;
    }
    .myaccount-btn{
        clear:left;
        padding:12px;
        background:#333;
        color:#fff;
        text-align: center;
        border-bottom:1px solid #4F4F4F;
    }
    .myaccount-menu{
            display:none;
            background:#333;
            ul{
                margin:0;
                padding:0;
                li{
                    list-style:none;
                    padding:12px;
                    padding-left:33px;
                    a{
                      color:white;
                      font-size:1em;
                    }
                    &.logout{
                        border-top:1px solid #4f4f4f;
                    }
                    &:nth-child(even){
                        background:#2C2C2C;
                    }
                }
                
            }
        
    }
}

// footer
footer{
    padding:15px;background:#ddd;
    .container > p{text-align:center;}
    .copy > div, .container{padding:0;}
    .footer-link{
        ul{
            li{
                display:inline;
                list-style:none;
                margin-left:12px;
                a{
                    
                }
            }
        }
    }
}
//pagination
.pagination{padding:20px;}

//item list


.item_list_watches{
    @include price(1.1em,1.9em);
    @include thumb(125px);
}

//item single page
.img-thumbs-container{
    width:100px;
}

// sidebar
.sidebar{
    background:#fff;
    padding: 12px 15px;
    .active{background:#e3e3e3;}
}

//nav bar
.nav.navbar-nav{
    margin: 0 auto;
    float: none;
    width:100%;
    header &{
        max-width: 201px;
        @media (max-width:480px){
            float:none !important;
            margin-bottom:12px;
        }
    }
    .home-banner &{
        max-width: 280px;
    }
    nav &{
        max-width:460px;
    }
}
.logo{
    padding-top:14px;
    @media (max-width: 561px) {
    text-align:center;
    }
}
.topnav{
    li{
        max-width: 138px;
        width: 100%;
        float: left;
    }
    @media (max-width: 561px) {
    float: none !important;
    }
}

.mobile-center{
    @media (max-width:768px){
        display: block;
        margin: 0 auto;
        float: none;
        width: 50%;
    }
    &.top{
       @media (max-width:768px){
        width: 58%;
        } 
    }
}

//create account
.hdr{
    img{
        width:100%;
    }
}