/* CSS Document */

/* containers */
body { padding: 0px; margin: 0px;}
#center_wristwatch_container { margin: 0px auto 0px auto; width: 1000px; }
#main_wristwatch_container { float: left; margin: 62px 0px 0px; width: 980px; min-height: 300px; background: none repeat scroll 0% 0% #FFF; padding: 0px 10px; box-shadow: 1px 1px 3px 1px #555; overflow: hidden; }

.round1 {
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 8px; 
 /* Firefox 1-3.6 */
  -moz-border-radius: 8px; 
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 8px; 
}
/*classes*/
.lite { background: #fbfbfb; /* Old browsers */ background: -moz-linear-gradient(top, #fbfbfb 0%, #f0f0f0 44%, #e7e7e7 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb), color-stop(44%, #f0f0f0), color-stop(100%, #e7e7e7)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #fbfbfb 0%, #f0f0f0 44%, #e7e7e7 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #fbfbfb 0%, #f0f0f0 44%, #e7e7e7 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #fbfbfb 0%, #f0f0f0 44%, #e7e7e7 100%); /* IE10+ */ background: linear-gradient(to bottom, #fbfbfb 0%, #f0f0f0 44%, #e7e7e7 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#e7e7e7', GradientType=0 ); /* IE6-9 */
}
.a_class, a, .inside_banner img, .iteminfo img{text-decoration:none; border:none;}
.bodybg { background: #E3E1E1; }
.dark_btn { background: #474747; /* Old browsers */ background: -moz-linear-gradient(top, #474747 0%, #2f2f2f 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #474747), color-stop(100%, #2f2f2f)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #474747 0%, #2f2f2f 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #474747 0%, #2f2f2f 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #474747 0%, #2f2f2f 100%); /* IE10+ */ background: linear-gradient(to bottom, #474747 0%, #2f2f2f 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474747', endColorstr='#2f2f2f', GradientType=0 ); /* IE6-9 */
}
.no_margn { margin: 0px !important; }
.left_line { border-left: 1px solid #ccc; }
.bg_red { background: #ca0201; }
.lgt_green { background: lightseagreen; }
.lgt_gray { background: lightgray; }
.clr_white { color: white !important; }
.clr_gray { color: #111 !important; }
.clr_both { clear: both !important; }
.padding_link { padding: 0px 12px !important; }
.a_tag { text-decoration: none !important; border: none !important; }
.fleft { float: left; }
.fright { float: right; }
.center { margin: 0px auto; }
.mtop0 { margin-top: 0px !important; }
.red { color: red !important; }
/* HEADER 
=====================================================================================================
*/
#top_bar_header_background { width: 100%; height: 40px; border-bottom: 1px solid #ccc; top: 0px; left: 0px; position: absolute; }
#top_header_wristwatch { margin: 0 auto; width: 1000px; height: 40px; line-height: 40px; vertical-align: middle; }
.top_link { float: left; display: block; height: 41px; margin: 0px 12px; padding: 0px 0px 0px 8px; }
.top_link a { float: left; display: block; text-decoration: none; font-family: arial; font-size: 12px; color: #555; }
.top_link a:hover { color: #000; }
#header_wrist_watch { float: left; width: 100%; height: 100px; margin: 0px; }
#top_header1 { float: left; width: 700px; }
#top_header2 { float: right; width: 300px; }
#top_header2 .top_link { float: right; }
.line { float: left; height: 28px; border-left: 1px solid #CCC; margin-top: 6px; width: 20px; }
#header_contents { float: left; width: 100%; height: 100px; }
#cyber_wristwatch_logo { float: left; width: 310px; height: 100px; line-height: 100px; vertical-align: middle; text-align: center; font-size: 24px; font-family: arial; color: #333; background: url('../assets/images/cyberwatchcafe.png') 10px 10px no-repeat }
#cyber_wristwatch_search { float: left; width: 670px; height: 100px; }
#search_wristwatch { float: left; margin: 30px 0px 0px 220px; width: 380px; height: 42px; }
#search_cyberwatch { float: left; height: 29px; margin: 0px; width: 210px; padding-left: 10px; font-size: 15px; border: none; border: 6px solid #CCC; line-height: 29px; vertical-align: middle; }
#search_button { float: left; margin-left: -3px; font-size: 17px; height: 43px; width: 90px; border: 6px solid gray; }
#advance_search { float: left; margin-left: -9px; font-size: 15px; height: 43px; width: 40px; color: #777; border: 6px solid gray; border-left: 3px solid gray }
#cyber_wristwatch_sell { float: left; width: 270px; height: 100px; }
#sell_box { width: 220px; position: relative; margin: 19px 0px 0px 40px; height: 50px; border: 4px solid beige; float: left; background: #ffaf4b; /* Old browsers */ background: -moz-linear-gradient(top, #ffaf4b 0%, #ff920a 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffaf4b), color-stop(100%, #ff920a)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #ffaf4b 0%, #ff920a 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #ffaf4b 0%, #ff920a 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #ffaf4b 0%, #ff920a 100%); /* IE10+ */ background: linear-gradient(to bottom, #ffaf4b 0%, #ff920a 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=0 ); /* IE6-9 */
background: #148c82; }
#sell_box img { margin: 2px; float: left; }
#sell_text1 { position: absolute; top: 0px; right: 8px; color: #FFF; font-size: 22px; font-family: tahoma; }
#sell_text2 { position: absolute; top: 25px; right: 8px; color: #CCC; font-size: 16px; font-family: arial; }
#header_menu { clear: both; width: 100%; height: 30px; margin: 10px 0px 5px 0px; line-height: 30px; vertical-align: middle; clear: both; background: #4a4a4a; /* Old browsers */ background: -moz-linear-gradient(top, #4a4a4a 0%, #2c2c2c 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4a4a4a), color-stop(100%, #2c2c2c)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #4a4a4a 0%, #2c2c2c 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #4a4a4a 0%, #2c2c2c 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #4a4a4a 0%, #2c2c2c 100%); /* IE10+ */ background: linear-gradient(to bottom, #4a4a4a 0%, #2c2c2c 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4a4a', endColorstr='#2c2c2c', GradientType=0 ); /* IE6-9 */
}
.menu_a { float: left; display: block; text-decoration: none; font-family: verdana; font-size: 14px; color: #FFF; }

.drop_nav { position: absolute; z-index: 999; top: 30px; display: none; }
.inner_drop { float: left; display: inline; min-height: 200px; padding: 12px; background: #333; border: 3px solid #ff4935; }
.drop_links a { padding: 0px 12px; float: left; color: #FFF; width: 90%; font-size: 11px; display: block; margin: 0px 0px; font-family: verdana; cursor: pointer; cursor: hand; text-decoration: none; }
.w90 { width: 150% !important; }
.all { color: red !important; }
.drop_links a:hover { background: #CCC; color:#000; }
.drop_container { float: left; padding: 12px; min-height: 200px; margin: 5px; display: inline-block; width: 120px; }
#watch_list { float: left; width: 80px; height: 37px; line-height: 37px; vertical-align: middle; text-align: center; font-size: 12px; font-family: tahoma; background: #fbfbfb; /* Old browsers */ background: -moz-linear-gradient(top, #fbfbfb 0%, #f0f0f0 44%, #e7e7e7 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb), color-stop(44%, #f0f0f0), color-stop(100%, #e7e7e7)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #fbfbfb 0%, #f0f0f0 44%, #e7e7e7 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #fbfbfb 0%, #f0f0f0 44%, #e7e7e7 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #fbfbfb 0%, #f0f0f0 44%, #e7e7e7 100%); /* IE10+ */ background: linear-gradient(to bottom, #fbfbfb 0%, #f0f0f0 44%, #e7e7e7 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#e7e7e7', GradientType=0 ); /* IE6-9 */
box-shadow: 1px 1px 2px 1px #CCC; }
#watch_list:hover { background: beige; }
#awatch { text-decoration: none; color: #333; border: none !important; }
.error { float: left; width: 100%; margin: 5px 0px; height: 20px; background: lightgoldenrodyellow; color: #F00; text-align: center; font-family: arial; font-size: 12px; line-height: 20px; vertical-align: middle; font-weight: bold; }
#create_account { float: left; display: inline; width: 100%; min-height: 820px; }
.inner_acct { margin: 20px; font-size: 12px; }
#regular_register { float: left; width: 600px; border: 1px solid #CCC; min-height: 400px; margin-bottom: 20px; padding: 12px; text-align: center; background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(224,224,224,0.65) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(224,224,224,0.65))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(224,224,224,0.65) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(224,224,224,0.65) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(224,224,224,0.65) 100%); /* IE10+ */ background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(224,224,224,0.65) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#a6e0e0e0', GradientType=0 ); /* IE6-9 */
}
.regular_register { float: left; width: 600px; border: 1px solid #CCC; min-height: 400px; margin-bottom: 20px; padding: 12px; text-align: center; background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(224,224,224,0.65) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(224,224,224,0.65))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(224,224,224,0.65) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(224,224,224,0.65) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(224,224,224,0.65) 100%); /* IE10+ */ background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(224,224,224,0.65) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#a6e0e0e0', GradientType=0 ); /* IE6-9 */
}
.reg_table { margin: 0px auto; font-size: 12px; }
.reg_table tr { float: left; margin: 12px; }
.mbottom { margin-bottom: -30px; }
.field { margin: 5px auto; width: 225px; }
#remarks { margin: 12px; font-size: 12px; color: red; }

#regular_register h2 { font-size: 30px; color: #333; }
#d_links{float:left; width:100%; min-height:20px; border-bottom:1px solid #CCC; margin-top:-5px;}
#d_links a{text-decoration:none; color : #999; font-family:arial; font-size:11px; float:left; margin-left:2px;}
.splitter{float:left; margin:0px 10px 0px 13px; font-size:11px;}
.item_seller{
position: absolute;	top: 0px;
height: 85px;
width: 179px;
z-index: 100;
background: ghostwhite;
display:none; 
font-family:Tahoma;
background: #fcfff4; /* Old browsers */
background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(40%,#dfe5d7), color-stop(100%,#b3bead)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
}
#image_viewer{
max-width: 430px;
width:100%;
height:auto;
margin-top: 12px;
cursor: pointer;

}
#image_view{
max-width: 430px;
max-height:363px;
vertical-align:middle;
}
.thumb-list-inline{
    padding:0;
}

#brief_info{
color: #4E4E4E;
line-height: 20px;
font-family: Arial,Helvetica,sans-serif;
background: rgba(0, 0, 0, 0.05);
border: 12px solid rgba(0, 0, 0, 0.001);
font-size: 18px;
overflow: hidden;
}
#share{
float: left;
margin: 15px 0px 0px 12px;
padding: 5px 20px;
background: rgba(0, 0, 0, 0.07);
border: 2px solid #FFF;
}

.drk_bg1{
background: #f2f2f2; /* Old browsers */
background: -moz-linear-gradient(top,  #f2f2f2 0%, #999999 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#999999)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f2f2f2 0%,#999999 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f2f2f2 0%,#999999 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f2f2f2 0%,#999999 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f2f2f2 0%,#999999 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#999999',GradientType=0 ); /* IE6-9 */
}
.large {
	width: 370px; height: 370px;
	position: absolute;
	border-radius: 100%;
	
	/*Multiple box shadows to achieve the glass effect*/
	box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 
	0 0 7px 7px rgba(0, 0, 0, 0.25), 
	inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
	
	/*hide the glass by default*/
	display: none;
	z-index:999;
}
.thumb_image:hover{
border:1px solid #333 !important;
box-shadow:1px 1px 3px 1px #333;
}
.star{
float:left;
width:14px;
height:14px;
margin:8px 0px;
}
.star0{
background: url('../assets/images/sprite2.png') 0px -15px no-repeat;
}
.star1{
background: url('../assets/images/sprite2.png') 0px 0px no-repeat;
}
#currency_converter{
position: absolute;
top: 41px;
left: -155px;
width: 250px;
height: 140px;
background: none repeat scroll 0% 0% #FFF;
display: none;
border: 3px solid brown;
z-index:999;
}
#convert{
float: left;
clear: both;
padding: 5px 74px;
margin: 16px 17px;
}
#d_currency{
position:relative;
background: #ef3e3e; /* Old browsers */
background: -moz-linear-gradient(top,  #ef3e3e 0%, #a52a2a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ef3e3e), color-stop(100%,#a52a2a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ef3e3e 0%,#a52a2a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ef3e3e 0%,#a52a2a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ef3e3e 0%,#a52a2a 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ef3e3e 0%,#a52a2a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef3e3e', endColorstr='#a52a2a',GradientType=0 ); /* IE6-9 */
}
.drop_currency:hover{
cursor:hand;
cursor:pointer;
}

.user_dropdown{
position:absolute; 
top:25px; 
left:-100px; 
width:170px; 
min-height:10px; 
background:ghostwhite; 
border:1px solid #CCC;
display:none;
padding:12px;
}

.user_dropdown a{
font-family:arial;
color:#333;
float:left;
}


/* FOOTER 
=====================================================================================================
*/
#footer_content { float: left; height: 200px; margin: 0px; }
.footer_part { float: left; height: 115px; width: 220px; border-right: 1px solid #CCC; }
.footer_part li { list-style: none; }
.footer_part li a { text-decoration: none; color: #333; font-family: verdana; font-size: 12px; }
.footer_part li a:hover { color: #000; }
.last_part { border: none; }
.in_foot { height: 200px; box-shadow: 0px 4px 5px #000; }
#footer_inner { float: left; height: 115px; width: 900px; margin-left: 40px; margin-top: 15px; }
#footer_note { width: 950px; height: 40px; float: left; font-family: tahoma; color: #555; font-size: 12px; border-top: 1px solid #CCC; padding-top: 7px; margin-left: 12px; }
.flag { width: 25px; height: 15px; background: url(flags.png) no-repeat; cursor:hand; cursor:pointer; float:left; }
.flag.flag-ad { background-position: -25px 0 }
.flag.flag-ae { background-position: -50px 0 }
.flag.flag-af { background-position: -75px 0 }
.flag.flag-ag { background-position: -100px 0 }
.flag.flag-ai { background-position: -125px 0 }
.flag.flag-al { background-position: -150px 0 }
.flag.flag-am { background-position: -175px 0 }
.flag.flag-an { background-position: -200px 0 }
.flag.flag-ao { background-position: -225px 0 }
.flag.flag-ar { background-position: -250px 0 }
.flag.flag-as { background-position: -275px 0 }
.flag.flag-at { background-position: -300px 0 }
.flag.flag-au { background-position: -325px 0 }
.flag.flag-aw { background-position: -350px 0 }
.flag.flag-az { background-position: -375px 0 }
.flag.flag-ba { background-position: 0 -15px }
.flag.flag-bb { background-position: -25px -15px }
.flag.flag-bd { background-position: -50px -15px }
.flag.flag-be { background-position: -75px -15px }
.flag.flag-bf { background-position: -100px -15px }
.flag.flag-bg { background-position: -125px -15px }
.flag.flag-bh { background-position: -150px -15px }
.flag.flag-bi { background-position: -175px -15px }
.flag.flag-bj { background-position: -200px -15px }
.flag.flag-bm { background-position: -225px -15px }
.flag.flag-bn { background-position: -250px -15px }
.flag.flag-bo { background-position: -275px -15px }
.flag.flag-br { background-position: -300px -15px }
.flag.flag-bs { background-position: -325px -15px }
.flag.flag-bt { background-position: -350px -15px }
.flag.flag-bv { background-position: -375px -15px }
.flag.flag-bw { background-position: 0 -30px }
.flag.flag-by { background-position: -25px -30px }
.flag.flag-bz { background-position: -50px -30px }
.flag.flag-ca { background-position: -75px -30px }
.flag.flag-cd { background-position: -100px -30px }
.flag.flag-cf { background-position: -125px -30px }
.flag.flag-cg { background-position: -150px -30px }
.flag.flag-ch { background-position: -175px -30px }
.flag.flag-ci { background-position: -200px -30px }
.flag.flag-ck { background-position: -225px -30px }
.flag.flag-cl { background-position: -250px -30px }
.flag.flag-cm { background-position: -275px -30px }
.flag.flag-cn { background-position: -300px -30px }
.flag.flag-co { background-position: -325px -30px }
.flag.flag-cr { background-position: -350px -30px }
.flag.flag-cu { background-position: -375px -30px }
.flag.flag-cv { background-position: 0 -45px }
.flag.flag-cy { background-position: -25px -45px }
.flag.flag-cz { background-position: -50px -45px }
.flag.flag-de { background-position: -75px -45px }
.flag.flag-dj { background-position: -100px -45px }
.flag.flag-dk { background-position: -125px -45px }
.flag.flag-dm { background-position: -150px -45px }
.flag.flag-do { background-position: -175px -45px }
.flag.flag-dz { background-position: -200px -45px }
.flag.flag-ec { background-position: -225px -45px }
.flag.flag-ee { background-position: -250px -45px }
.flag.flag-eg { background-position: -275px -45px }
.flag.flag-eh { background-position: -300px -45px }
.flag.flag-er { background-position: -325px -45px }
.flag.flag-es { background-position: -350px -45px }
.flag.flag-et { background-position: -375px -45px }
.flag.flag-eu { background-position: 0 -60px }
.flag.flag-fi { background-position: -25px -60px }
.flag.flag-fj { background-position: -50px -60px }
.flag.flag-fk { background-position: -75px -60px }
.flag.flag-fm { background-position: -100px -60px }
.flag.flag-fo { background-position: -125px -60px }
.flag.flag-fr { background-position: -150px -60px }
.flag.flag-ga { background-position: -175px -60px }
.flag.flag-gb { background-position: -200px -60px }
.flag.flag-gd { background-position: -225px -60px }
.flag.flag-ge { background-position: -250px -60px }
.flag.flag-gf { background-position: -275px -60px }
.flag.flag-gg { background-position: -300px -60px }
.flag.flag-gh { background-position: -325px -60px }
.flag.flag-gi { background-position: -350px -60px }
.flag.flag-gl { background-position: -375px -60px }
.flag.flag-gm { background-position: 0 -75px }
.flag.flag-gn { background-position: -25px -75px }
.flag.flag-gp { background-position: -50px -75px }
.flag.flag-gq { background-position: -75px -75px }
.flag.flag-gr { background-position: -100px -75px }
.flag.flag-gs { background-position: -125px -75px }
.flag.flag-gt { background-position: -150px -75px }
.flag.flag-gu { background-position: -175px -75px }
.flag.flag-gw { background-position: -200px -75px }
.flag.flag-gy { background-position: -225px -75px }
.flag.flag-hk { background-position: -250px -75px }
.flag.flag-hm { background-position: -275px -75px }
.flag.flag-hn { background-position: -300px -75px }
.flag.flag-hr { background-position: -325px -75px }
.flag.flag-ht { background-position: -350px -75px }
.flag.flag-hu { background-position: -375px -75px }
.flag.flag-id { background-position: 0 -90px }
.flag.flag-ie { background-position: -25px -90px }
.flag.flag-il { background-position: -50px -90px }
.flag.flag-in { background-position: -75px -90px }
.flag.flag-io { background-position: -100px -90px }
.flag.flag-iq { background-position: -125px -90px }
.flag.flag-ir { background-position: -150px -90px }
.flag.flag-is { background-position: -175px -90px }
.flag.flag-it { background-position: -200px -90px }
.flag.flag-je { background-position: -225px -90px }
.flag.flag-jm { background-position: -250px -90px }
.flag.flag-jo { background-position: -275px -90px }
.flag.flag-jp { background-position: -300px -90px }
.flag.flag-ke { background-position: -325px -90px }
.flag.flag-kg { background-position: -350px -90px }
.flag.flag-kh { background-position: -375px -90px }
.flag.flag-ki { background-position: 0 -105px }
.flag.flag-km { background-position: -25px -105px }
.flag.flag-kn { background-position: -50px -105px }
.flag.flag-kp { background-position: -75px -105px }
.flag.flag-kr { background-position: -100px -105px }
.flag.flag-kw { background-position: -125px -105px }
.flag.flag-ky { background-position: -150px -105px }
.flag.flag-kz { background-position: -175px -105px }
.flag.flag-la { background-position: -200px -105px }
.flag.flag-lb { background-position: -225px -105px }
.flag.flag-lc { background-position: -250px -105px }
.flag.flag-li { background-position: -275px -105px }
.flag.flag-lk { background-position: -300px -105px }
.flag.flag-lr { background-position: -325px -105px }
.flag.flag-ls { background-position: -350px -105px }
.flag.flag-lt { background-position: -375px -105px }
.flag.flag-lu { background-position: 0 -120px }
.flag.flag-lv { background-position: -25px -120px }
.flag.flag-ly { background-position: -50px -120px }
.flag.flag-ma { background-position: -75px -120px }
.flag.flag-mc { background-position: -100px -120px }
.flag.flag-md { background-position: -125px -120px }
.flag.flag-me { background-position: -150px -120px }
.flag.flag-mg { background-position: -175px -120px }
.flag.flag-mh { background-position: -200px -120px }
.flag.flag-mk { background-position: -225px -120px }
.flag.flag-ml { background-position: -250px -120px }
.flag.flag-mm { background-position: -275px -120px }
.flag.flag-mn { background-position: -300px -120px }
.flag.flag-mo { background-position: -325px -120px }
.flag.flag-mp { background-position: -350px -120px }
.flag.flag-mq { background-position: -375px -120px }
.flag.flag-mr { background-position: 0 -135px }
.flag.flag-ms { background-position: -25px -135px }
.flag.flag-mt { background-position: -50px -135px }
.flag.flag-mu { background-position: -75px -135px }
.flag.flag-mv { background-position: -100px -135px }
.flag.flag-mw { background-position: -125px -135px }
.flag.flag-mx { background-position: -150px -135px }
.flag.flag-my { background-position: -175px -135px }
.flag.flag-mz { background-position: -200px -135px }
.flag.flag-na { background-position: -225px -135px }
.flag.flag-nc { background-position: -250px -135px }
.flag.flag-ne { background-position: -275px -135px }
.flag.flag-nf { background-position: -300px -135px }
.flag.flag-ng { background-position: -325px -135px }
.flag.flag-ni { background-position: -350px -135px }
.flag.flag-nl { background-position: -375px -135px }
.flag.flag-no { background-position: 0 -150px }
.flag.flag-np { background-position: -25px -150px }
.flag.flag-nr { background-position: -50px -150px }
.flag.flag-nu { background-position: -75px -150px }
.flag.flag-nz { background-position: -100px -150px }
.flag.flag-om { background-position: -125px -150px }
.flag.flag-pa { background-position: -150px -150px }
.flag.flag-pe { background-position: -175px -150px }
.flag.flag-pf { background-position: -200px -150px }
.flag.flag-pg { background-position: -225px -150px }
.flag.flag-ph { background-position: -250px -150px }
.flag.flag-pk { background-position: -275px -150px }
.flag.flag-pl { background-position: -300px -150px }
.flag.flag-pm { background-position: -325px -150px }
.flag.flag-pn { background-position: -350px -150px }
.flag.flag-pr { background-position: -375px -150px }
.flag.flag-ps { background-position: 0 -165px }
.flag.flag-pt { background-position: -25px -165px }
.flag.flag-pw { background-position: -50px -165px }
.flag.flag-py { background-position: -75px -165px }
.flag.flag-qa { background-position: -100px -165px }
.flag.flag-re { background-position: -125px -165px }
.flag.flag-ro { background-position: -150px -165px }
.flag.flag-rs { background-position: -175px -165px }
.flag.flag-ru { background-position: -200px -165px }
.flag.flag-rw { background-position: -225px -165px }
.flag.flag-sa { background-position: -250px -165px }
.flag.flag-sb { background-position: -275px -165px }
.flag.flag-sc { background-position: -300px -165px }
.flag.flag-sd { background-position: -325px -165px }
.flag.flag-se { background-position: -350px -165px }
.flag.flag-sg { background-position: -375px -165px }
.flag.flag-sh { background-position: 0 -180px }
.flag.flag-si { background-position: -25px -180px }
.flag.flag-sk { background-position: -50px -180px }
.flag.flag-sl { background-position: -75px -180px }
.flag.flag-sm { background-position: -100px -180px }
.flag.flag-sn { background-position: -125px -180px }
.flag.flag-so { background-position: -150px -180px }
.flag.flag-sr { background-position: -175px -180px }
.flag.flag-st { background-position: -200px -180px }
.flag.flag-sv { background-position: -225px -180px }
.flag.flag-sy { background-position: -250px -180px }
.flag.flag-sz { background-position: -275px -180px }
.flag.flag-tc { background-position: -300px -180px }
.flag.flag-td { background-position: -325px -180px }
.flag.flag-tf { background-position: -350px -180px }
.flag.flag-tg { background-position: -375px -180px }
.flag.flag-th { background-position: 0 -195px }
.flag.flag-tj { background-position: -25px -195px }
.flag.flag-tk { background-position: -50px -195px }
.flag.flag-tl { background-position: -75px -195px }
.flag.flag-tm { background-position: -100px -195px }
.flag.flag-tn { background-position: -125px -195px }
.flag.flag-to { background-position: -150px -195px }
.flag.flag-tr { background-position: -175px -195px }
.flag.flag-tt { background-position: -200px -195px }
.flag.flag-tv { background-position: -225px -195px }
.flag.flag-tw { background-position: -250px -195px }
.flag.flag-tz { background-position: -275px -195px }
.flag.flag-ua { background-position: -300px -195px }
.flag.flag-ug { background-position: -325px -195px }
.flag.flag-um { background-position: -350px -195px }
.flag.flag-us { background-position: -375px -195px }
.flag.flag-uy { background-position: 0 -210px }
.flag.flag-uz { background-position: -25px -210px }
.flag.flag-va { background-position: -50px -210px }
.flag.flag-vc { background-position: -75px -210px }
.flag.flag-ve { background-position: -100px -210px }
.flag.flag-vg { background-position: -125px -210px }
.flag.flag-vi { background-position: -150px -210px }
.flag.flag-vn { background-position: -175px -210px }
.flag.flag-vu { background-position: -200px -210px }
.flag.flag-wf { background-position: -225px -210px }
.flag.flag-ws { background-position: -250px -210px }
.flag.flag-ye { background-position: -275px -210px }
.flag.flag-yt { background-position: -300px -210px }
.flag.flag-za { background-position: -325px -210px }
.flag.flag-zm { background-position: -350px -210px }
.flag.flag-zw { background-position: -375px -210px }
