/* CSS Document */

#home_banner{
	width:100%;
	height:250px;
	float:left;
position:relative;	
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #999999 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#999999)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#999999 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#999999 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#999999 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#999999 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#999999',GradientType=0 ); /* IE6-9 */

}
.inside_banner{
position:absolute;
width:90%;
height:80%;
left:5%;
top:10%;
}
.inner_banner{
position:absolute;
width:100%;
height:100%;
left:0px;
top:0px;
}
.inner_banner img{
max-width:200px;
max-height:200px;
}
.images_banner{
float:left;
width:50%;	
}
.details_banner{
float:left;
width:50%;
height:100%;
margin-left:-50px;
}
.title_1{
float:left;
clear:both;
color:#2e2e2e;
margin:0px;
font-family:arial;
}
.title_2{
float:left;
clear:both;
color:#fee901;
color:red;
margin:0px;
font-family: verdana;
}
.msg_p{
float:left;
clear:both;
color:white;
color:#111;
margin:0px;
font-family:arial;
font-size:12px;
font-weight:bold;
}

.left_arrow{
float:left;
margin:0px;
width:49px;
height:100%;
position:relative;
}
.right_arrow{
float:right;
margin:0px;
width:49px;
height:100%;
position:relative;
}
.left_arrow a, .right_arrow a{
	position:absolute;
	top:50%;
	margin-top:-24px;
	left:50%;
	margin-left:-24px;
	text-decoration:none;
	opacity:.5;
}
.left_arrow a:hover, .right_arrow a:hover{
	opacity:1;
}

#inner_banner{
float:left;
height:100%;
width:780px;
position:relative;
}
.btn_lite{
clear:both;
width:200px;
height:35px;
float:left;
margin-top:10px;
text-align:center;
line-height:35px;
vertical-align:center;
color:#333;
font-size:15px;
font-weight:bold;
font-family:verdana;
text-decoration:none;
background: #fefcea; /* Old browsers */
background: -moz-linear-gradient(top,  #fefcea 0%, #f1da36 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(100%,#f1da36)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fefcea 0%,#f1da36 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
}
#homepage{
width:100%;
min-height:500px;
}

#sidebar_left{
float:left;
width:200px;
min-height:500px;
margin:0px;
}

#welcome{
float: left;
width: 200px;
min-height: 100px;
padding-bottom: 12px;
margin-bottom: 12px;
}
#title{
float: left;
clear: both;
margin: 5px 10px;
width: 180px;
text-align: center;
font-size: 13px;
font-family: arial;
font-weight: bold;
color: #FFF;
height:25px;
line-height:25px;
vertical-align:middle;
}

#my_wishlist, #my_compare{
float:left;
width:202px;
height:100px;
margin:0px;
background: #ef3e3e; /* Old browsers */
background: -moz-linear-gradient(top,  #ef3e3e 0%, #a52a2a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ef3e3e), color-stop(100%,#a52a2a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ef3e3e 0%,#a52a2a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ef3e3e 0%,#a52a2a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ef3e3e 0%,#a52a2a 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ef3e3e 0%,#a52a2a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef3e3e', endColorstr='#a52a2a',GradientType=0 ); /* IE6-9 */
color:#FFF;
}
.red_bg{
background: #ef3e3e; /* Old browsers */
background: -moz-linear-gradient(top,  #ef3e3e 0%, #a52a2a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ef3e3e), color-stop(100%,#a52a2a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ef3e3e 0%,#a52a2a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ef3e3e 0%,#a52a2a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ef3e3e 0%,#a52a2a 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ef3e3e 0%,#a52a2a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef3e3e', endColorstr='#a52a2a',GradientType=0 ); /* IE6-9 */
}

#member_login{
float:left;
width:203px;
min-height:100px;
margin:0px;
padding-bottom:24px;
/*background:#EDEFF4;*/
background: #ef3e3e; /* Old browsers */
background: -moz-linear-gradient(top,  #ef3e3e 0%, #a52a2a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ef3e3e), color-stop(100%,#a52a2a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ef3e3e 0%,#a52a2a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ef3e3e 0%,#a52a2a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ef3e3e 0%,#a52a2a 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ef3e3e 0%,#a52a2a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef3e3e', endColorstr='#a52a2a',GradientType=0 ); /* IE6-9 */

}
#member_login  a{
color:#FFF;
font-size:14px;
margin-top:7px;
float:left;
}
.login_button {
background: #f2f2f2; /* Old browsers */
background: -moz-linear-gradient(top,  #f2f2f2 0%, #e0e0e0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f2f2f2 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f2f2f2 0%,#e0e0e0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f2f2f2 0%,#e0e0e0 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f2f2f2 0%,#e0e0e0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */

  font-family: tahoma;
  color: #333;
  font-size: 16px;
  padding: 0px 10px;
  text-decoration: none;
  border:none;
  width:141px !important;
  margin:12px 0px;
}

.login_button:hover {
  text-decoration: none;
	cursor:pointer;
	cursor:hand;
}
#my_compare{
margin-top:10px;
}
#fb_like{
float:left;
width:200px;
height:370px;
margin:10px 0px;
}
#wish_title, #compare_title{
float: left;
clear: both;
margin: 5px 10px;
width: 180px;
text-align: center;
font-size: 13px;
font-family: arial;
font-weight: bold;
color: #333;
border-bottom:1px dashed #CCC;
height:25px;
line-height:25px;
vertical-align:middle;
}

#wish_title{
color: #FFF;
font-size:16px;
padding-top:12px;
}

#my_wishlist p, #my_compare p{
font-family:arial;
font-size:13px;
margin:12px;
}

#member_login p{
font-family:tahoma;
color:#FFF;
font-size:13px;
margin:12px 0px -10px 30px;
width:136px;
}
#member_login p input{
width:136px;
}

#member_login submit{
width:200px;
}


/*---------------------------
 item lists
------------------------------*/


.ilast{
margin:0px 0px 10px 0px;
}

.item_price{
float: left;
clear: both;
width: 169px;
color: #555;
color:#556B2F;
font-family: arial;
font-style: normal;
font-variant: normal;
padding: 2px 0px;
margin-bottom: 2px;
}
.seller_avatar{
float:left; margin-left:10px; width:80px; height:80px; line-height:74px; text-align:center; border:1px solid #CCC;
}
.seller_info{
float:left;
width:85px;
height:100px;
font-size:12px;
}
.small_info{
float:left;
font-size:12px;
margin:0px 8px;
height:15px;
font-family:arial;
width:200px;
}
.small_info2{
float:left;
font-size:12px;
margin:3px 8px;
height:20px;
width:100px;
font-family:arial;
}
.details_container{
float:left; width:764px; min-height:300px; clear:both; margin:40px 0px 30px 0px; position:relative;
}
.details_tab{
float:left; width:100%; height:35px; border-bottom:1px solid #CCC;
color:#555;
}
.dtab{
float:left; margin-right:8px; 
color:#222; 
font-family:tahoma; padding:0px 15px; height:35px; 
text-align:center; line-height:35px; vertical-align:middle;
background: #fbfbfb; /* Old browsers */ background: -moz-linear-gradient(top, #fbfbfb 0%, #f0f0f0 44%, #e7e7e7 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb), color-stop(44%, #f0f0f0), color-stop(100%, #e7e7e7)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #fbfbfb 0%, #f0f0f0 44%, #e7e7e7 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #fbfbfb 0%, #f0f0f0 44%, #e7e7e7 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #fbfbfb 0%, #f0f0f0 44%, #e7e7e7 100%); /* IE10+ */ background: linear-gradient(to bottom, #fbfbfb 0%, #f0f0f0 44%, #e7e7e7 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#e7e7e7', GradientType=0 ); /* IE6-9 */
background: linear-gradient(to bottom, #FCFFF4 0%, #DFE5D7 40%, #B3BEAD 100%) repeat scroll 0% 0% transparent; 
border:1px solid #CCC; border-bottom:none;
}
#tab_watchlist{
float:left; margin-right:8px; 
color:#FFF; 
font-family:tahoma; padding:0px 15px; height:35px; 
text-align:center; line-height:35px; vertical-align:middle;
background: #ef3e3e; /* Old browsers */
background: -moz-linear-gradient(top,  #ef3e3e 0%, #a52a2a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ef3e3e), color-stop(100%,#a52a2a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ef3e3e 0%,#a52a2a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ef3e3e 0%,#a52a2a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ef3e3e 0%,#a52a2a 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ef3e3e 0%,#a52a2a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef3e3e', endColorstr='#a52a2a',GradientType=0 ); /* IE6-9 */
}
#tab_watchlist:hover{
cursor:pointer;
cursor:hand;
}
.dtab_active{
color:#333; 
background:#FFF; 
border:1px solid #CCC; border-bottom:none; 
}
.dtab:hover{
color:#333; 
background:#FFF; cursor:hand; cursor:pointer;
border:1px solid #CCC; border-bottom:none; 
}
.inner_details_cont{
float:left; clear:both; width: 764px; min-height:350px; margin:10px 0px; display:none;
}
.title5{
float:left;
width:120px;
margin:12px 20px 0px 65px;
font-family:verdana;
font-weight:bold;
font-size:13px;
color:#333;
text-align:left;
background:beige;
padding:5px 20px;
}
.title52{
float:left;
width:120px;
margin:12px 20px 0px 65px;
font-family:verdana;
font-weight:bold;
font-size:13px;
color:#333;
text-align:left;
padding:5px 20px;
}
.desc5{
float:left;
color:#555;
font-family:arial;
margin:17px 0px 0px 0px;
font-size:13px;
font-family:verdana;
width:450px;
min-height:13px;
}
.inp_public{
width: 300px;
border: 3px solid #CCC;
padding: 3px 12px;
margin-top: -6px;
float: left;
}

.single_desc{
font-family:tahoma !important;
font-size:14px !important;
color:#333 !important;
font-family: tahoma !important;
font-size: 14px !important;
color: #333 !important;
float: left;
width: 90%;
clear: both;
margin-top: 10px;
padding: 0px 10px;
}
.single_data{
font-family: arial;
font-size: 22px !important;
color: green;
float: left;
width: 90%;
clear: both;
padding: 0px 10px;
}

.add_compare:hover{
color:#000;
}
.view_details{
text-decoration: none;
font-size: 11px;
font-family: Tahoma;
float: left;
clear: both;
font-weight: bold;
text-align: center;
overflow: hidden;
padding: 0px 12px;
height: 18px;
line-height: 18px;
vertical-align: middle;
width: 135px;
margin: 3px 0px 0px 10px;
color:#333;
}

